/*--black: #000000ff;
--dodger-blue: #1098f7ff;
--white: #ffffffff;
--silver-pink: #b89e97ff;
--pale-silver: #deccccff;
*/

@font-face {
    font-family: 'polya_regularregular';
    src: url('../Mariam-Lambertt/My references/PolyaF/polya-webfont.woff2') format('woff2'),
         url('../Mariam-Lambertt/My references/PolyaF/polya-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '29lt_adirregular';
    src: url('../Mariam-Lambertt/My references/Adir/29ltadir-regular-webfont.woff2') format('woff2'),
         url('../Mariam-Lambertt/My references/Adir/29ltadir-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* Banner */

  #banner {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    padding: 8em 4em 6em 4em;
    min-height: 70vh;
    background-image: url("../Mariam-Lambertt/My references/my terrain.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 0;
    position: relative;
    text-align: center;
    overflow: hidden;
  }

    #banner .inner {
      text-align: center;
      position: relative;
      z-index: 2;
    }

    #banner h1 {
      color: #ffffffff;
      font-size: 7em;
      font-weight: 600;
   font-family: 'polya_regularregular';

      margin: 0;
    }

      @media screen and (max-width: 980px) {

        #banner h1 {
          font-size: 5em;
        }

      }

      @media screen and (max-width: 736px) {

        #banner h1 {
          font-size: 3em;
        }

      }

    #banner p {
        font-family: '29lt_adirregular';
      color: rgba(255, 255, 255, 0.85);
      font-size: 1.5em;
      font-weight: 500;
    }

      @media screen and (max-width: 980px) {

        #banner p {
          font-size: 1.5em;
        }

      }

      @media screen and (max-width: 480px) {

        #banner p {
          font-size: 1.25em;
        }

      }

    #banner a {
      color: rgba(255, 255, 255, 0.75);
      text-decoration: none;
      border-bottom: 1px dotted;
    }

      #banner a:hover {
        color: #FFF;
        border: none;
      }

    #banner .more {
      background-image: url("images/arrow.svg");
      background-position: center 1.35em;
      background-repeat: no-repeat;
      background-size: auto;
      border: 1px solid #fff;
      border-radius: 100%;
      color: rgba(255, 255, 255, 0.75);
      display: block;
      height: 4em;
      text-indent: 4em;
      overflow: hidden;
      white-space: nowrap;
      width: 4em;
      z-index: 2;
      margin: 0 auto 2em auto;
    }

      #banner .more:hover {
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid #fff;
        color: #FFF;
      }

    #banner video {
      -moz-transform: translateX(50%) translateY(50%);
      -webkit-transform: translateX(50%) translateY(50%);
      -ms-transform: translateX(50%) translateY(50%);
      transform: translateX(50%) translateY(50%);
      position: absolute;
      bottom: 50%;
      right: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      overflow: hidden;
    }

    #banner:before {
      -moz-transition: opacity 3s ease;
      -webkit-transition: opacity 3s ease;
      -ms-transition: opacity 3s ease;
      transition: opacity 3s ease;
      -moz-transition-delay: 1s;
      -webkit-transition-delay: 1s;
      -ms-transition-delay: 1s;
      transition-delay: 1s;
      content: '';
      background-color: #42424f;
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.45;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    @media screen and (max-width: 1280px) {

      #banner video {
        display: none;
      }

    }

    @media screen and (max-width: 980px) {

      #banner br {
        display: none;
      }

    }

    @media screen and (max-width: 736px) {

      #banner {
        min-height: 0;
        padding: 6em 2em 4em 2em;
      }

        #banner br {
          display: none;
        }

    }

    body.is-loading #banner:before {
      opacity: 1;
    }





/*TITLE*/
	h1{
  font-family: 'polya_regularregular';
	 font-size: 60px;

  font-weight: normal;
  font-style: normal;
  /*color: #18206fff;*/

/*  letter-spacing: 0.25px;
*/  padding-left: 40px
	}


/*SUBTITLE*/
	h2{
     font-family: '29lt_adirregular';
	 font-size: 19px;
  font-weight: normal;
 /* color: #18206fff;
*/  letter-spacing: 0.25px;
   padding-left: 40px
	}

/*MENU*/

.menu button {
  background-color: #ffffffff; /* White background */
  border: 0px ; /* White border */
  color: #000000ff; /* Black text */
  padding: 0px 100px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-size: 18px
}

.menu button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.menu:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.menu button:hover {
  background-color: #ffffffff;
  /*color: #ffffffff*/
}





/**----------MENU-ON-TOP--------------------------/
/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;

  padding: 14px 25px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}






/*-------------------------------------------image fade-------------------*/
    .container5 {

  position: relative;
  float: center
  width: 100%;
  height: 600px;
  background-color: #1b1b1f
}

.image5 {
  opacity: 1;
  display: block;
  float: center

  width: auto;
  height: 500px;
  padding-left: 20%;
  padding-top: 50px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle5 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)

}

.container5:hover .image {
  opacity: 0.3;
}

.container5:hover .middle {
  opacity: 1;
}

.text5 {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}





    .container6 {

  position: relative;
  float: center
  width: 100%;
  height: 600px;
  background-color: #1b1b1f
}

.card6 {
  background-color: white;
  padding: 20px,
  margin-top: 20px;
}

/*BODY*/



/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {

 float: left;
  width: 25%;
  padding: 30px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


body{

font-family: 'adir', sans-serif;
background: #ffffffff;
		color: #000000ff
}

h3{
      font-family: '29lt_adirregular';
  font-size: 30px;
  font-weight: 700;
  color: #18206fff;
  letter-spacing: 0.25px;
}

h4{
      font-family: '29lt_adirregular';
  font-size: 20px;
  font-weight: 700;
  color: #000000ff;
  letter-spacing: 0.25px;
}
p{
  font-family: '29lt_adirregular';
  font-size: 18px;
  line-height: 25px;
  color: #000000ff;
  letter-spacing: 0.2px;
}




/*----------------------------LAST POSTS-------------------------*/
.leftcolumn3 {
  float: left;
  width: 45%;
   font-size: 20px

}

/* Right column */
.rightcolumn3 {
  float: right;
  width: 25%;
  padding-right: 80px;
  font-size: 20px

}


/* Add a card effect for articles */
.card3 {
  background-color: white;
  padding: 20px,
  margin-top: 20px;
}

/* Clear floats after the columns */
.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer3 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}





/*----------------HOME PAGE COMMON GROUND-------------------*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 40%;

  padding-right: 0;

}

/* Right column */
.rightcolumn {
  float: right;
  width: 40%;
margin-right: 200px
  /*padding-right: 75px;*/

}


.lefty{
 float: left;
  width: 40%;



}
.lefty1{
 float: left;
  width: 40%;


}

.lefty2{
 float: left;
  width: 40%;


}

.righty{
  float: right;
  width: 50%;

  padding-right: 20px
}
.righty1{
  float: right;
  width: 50%;

  padding-right: 20px
}
.righty2{
  float: right;
  width: 50%;

  padding-right: 20px
}

.card9 {
  background-color: white;
  padding: 20px,
  margin-top: 20px;
}
/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px,
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}



/*--------------------------------------------------------*/
/*-------------------WEEKS LAYOUT-------------------------*/
/*--------------------------------------------------------*/



h5{
      font-family: '29lt_adirregular';
  font-size: 36px
}

h6{
      font-family: '29lt_adirregular';
    font-size: 20px
}


/*----------------------------------------------------*/

.leftcolumn2 {
  float: left;
  width: 40%;
   font-size: 20px

}

/* Right column */
.rightcolumn2 {
  float: right;
  width: 25%;
  padding-right: 500px;
  font-size: 20px

}


/* Add a card effect for articles */
.card2 {
  background-color: white;
  padding: 50px,
  margin-top: 50px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer2 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}








/*---------------------------------------------*/
/*EXTRAs*/

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn1 {
  float: left;
  width: 45%;
   font-size: 20px

}

/* Right column */
.rightcolumn1 {
  float: right;
  width: 25%;
  padding-right: 250px;
  font-size: 20px

}


/* Add a card effect for articles */
.card1 {
  background-color: #deccccff;
  padding: 20px,
  margin-top: 20px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer1 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}









/*----------------------------------------------------*/

.leftcolumn4 {
  float: left;
  width: 25%;
   font-size: 20px

}


/* Right column */
.rightcolumn4 {
  float: all;
width: 500px
  font-size: 20px
  padding-right: 10px;

}


/* Add a card effect for articles */
.card4 {
  background-color: white;
  padding: 20px,
  margin-top: 20px;
}

/* Clear floats after the columns */
.row4:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer4 {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}



/* Footer */

h7{
    font-family: '29lt_adirregular';
    color: #ffffffff;
   font-size: 20px
}
h8{
    font-family: '29lt_adirregular';
    color: #ffffffff;
   font-size: 20px
}

  #footer {
    padding: 4em 0 2em 0;
    background-color: #1b1b1f;
    text-align: center;
  }

    #footer .inner {
       color: #ffffffff;
      width: 50%;
      margin: 0 auto;
    }

      @media screen and (max-width: 980px) {

        #footer .inner {
     
          width: 75%;
        }

      }

      @media screen and (max-width: 480px) {

        #footer .inner {
          width: 90%;
        }

      }

    #footer .copyright {
      color: #ffffffff;
      font-size: 0.9em;
      margin: 0 0 2em 0;
      padding: 0;
      text-align: center;
    }

    @media screen and (max-width: 736px) {

      #footer {
        padding: 3em 0 1em 0;
      }

    }




